.panel-title{
	 font-weight: bold;
	 }
	#fm{
		margin:0;
		padding:10px 30px;
	}
	.ftitle{
		font-size:14px;
		font-weight:bold;
		padding:5px 0;
		margin-bottom:10px;
		border-bottom:1px solid #ccc;
	}
	.fitem{
		margin-bottom:5px;
	}
	.fitem label{
		display:inline-block;
		min-width:120px;
	}
	.fitem input{
		width:160px;
	}
	
	/*window minimize bar*/
	
	.wb{
		width:100%;
		height:30px;
		background:#fafafa;
		z-index:99999999999;
		position:fixed;
		bottom:0;
		left:0;
	}
	.ws{
		border:1px solid #ccc;
		background:#91C8FF;
		width:100px;
		padding:0 5px;
		display:inline-block;
		margin:2px;
		line-height:25px;
	}
	.ws-over{
		background:#FFF955;
		cursor:pointer;
	}
	
	 div.panel-header.accordion-header > div.panel-title{ font-weight:normal; }
